.form-registration, .form-login {
    width: 300px;
    text-align: center;
    margin-left: calc( 50% - 150px);
}
.label-sign-up, .label-sign-in {
    margin: 10px;
}
.registration-container, .login-container {
    width: 100%;
    height: 100%;
}

.container {
    margin: 5px;
}
